# Unity
[Línea clave para Unity]
[Línea clave para Visual Studio]

# Carpetas que no se deben subir
Library/
Temp/
Obj/
Logs/
Build/
MemoryCaptures/
UserSettings/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.svd
*.suo
*.sdf
*.db
*.opendb
*.VC.db
*.DS_Store